<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<script src="js/RemoveEquipe.js"></script>
		<title>Gestion rencontre</title>
	</head>
	<body>
		{{ include('header.twig') }}
		<div class="alert alert-warning alert-dismissible fade show d-flex" role="alert">
			<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
			<div>
				<strong>Attention!</strong>Si une équipe est ajoutée à une poule après l'organisation des rencontres, il est nécessaire d'effacer les rencontres existantes, de les recréer et de les réorganiser.
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					{% for tournoi in ListeDesTournois %}
						{% if tournoi.isArchived == 0 %}
							{% if tournoi.id == idTournoi %}
								<a href="gestionPoules.php?id_tournoi={{ tournoi.id }}" class="btn btn-success btn-lg">{{ tournoi.nom }}</a>
							{% else %}
								<a href="gestionPoules.php?id_tournoi={{ tournoi.id }}" class="btn btn-secondary">{{ tournoi.nom }}</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="row mt-2">
				<div class="col-lg-6">
				<h4>Choisir la categorie </h4>
				
				{% for categorie in ListeDesCategorie %}
				
					{% if categorie.id_categorie == categorieEnCours  %}
					<a href="gestionPoules.php?id_tournoi={{ idTournoi }}&categorie={{categorie.id_categorie}}" class="btn btn-success btn-lg">{{categorie.Nom_categorie}} ({{categorie.nombre_equipes}})</a>
					
					
					{% else %}
					<a href="gestionPoules.php?id_tournoi={{ idTournoi }}&categorie={{categorie.id_categorie}}" class="btn btn-secondary btn-lg" >{{categorie.Nom_categorie}} ({{categorie.nombre_equipes}})</a>

					{% endif %}

					
				{% endfor %}
			<br><p>Selectionner le nombre d'équipe par poule</p>
				{% for i in 1..15 %}
					
					<a href="gestionPoules.php?id_tournoi={{ idTournoi }}&categorie={{categorieEnCours}}&NbrEquipeParPoule={{i}}" class="btn btn-success btn-lg">{{i}}</a>
					{% endfor %}
				
				

				{% for poule in listeDesPoules %}
					<h3>{{ poule.nom }}</h3>
					<ul>
					{% for equipe in poule.equipes %}
					
						<li>{{ equipe.nom }}</li>
					{% endfor %}
					</ul>
				{% endfor %}
		<br>
		
		{% if nbrEquipe is not null %}
		<a href="gestionPoules.php?id_tournoi={{ idTournoi }}&categorie={{categorieEnCours}}&NbrEquipeParPoule={{nbrEquipe}}&creation=ok" class="btn btn-success btn-lg">OK!</a>
		{% endif %}
			</div>
			
		</div>
	</body>
</html>
