<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<script src="js/RemoveEquipe.js"></script>
		<title>Gestion rencontre</title>
	</head>
	<body>
		{{ include('header.twig') }}
		<div class="alert alert-warning alert-dismissible fade show d-flex" role="alert">
			<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
			<div>
				<strong>Attention!</strong>Si une équipe est ajoutée à une poule après l'organisation des rencontres, il est nécessaire d'effacer les rencontres existantes, de les recréer et de les réorganiser.
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					{% for tournoi in ListeDesTournois %}
						{% if tournoi.isArchived == 0 %}
							{% if tournoi.id == idTournoi %}
								<a href="gestionPoules.php?id_tournoi={{ tournoi.id }}" class="btn btn-success btn-lg">{{ tournoi.nom }}</a>
							{% else %}
								<a href="gestionPoules.php?id_tournoi={{ tournoi.id }}" class="btn btn-secondary">{{ tournoi.nom }}</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<h5>Nombre d'équipe par poule</h5>

					<form id="myForm" action="gestionPoules.php" method="GET">
						<input type="hidden" name="id_tournoi" value="{{ idTournoi }}"/>
						<select id="NbrEquipeParPoule" class="form-select" aria-label="Default select example" name="NbrEquipeParPoule">
							<option value="1" {%if nbrEquipeEnCours == 1 %} selected="selected" {% endif %}>1</option>
							<option value="2" {%if nbrEquipeEnCours == 2 %} selected="selected" {% endif %}>2</option>
							<option value="3" {%if nbrEquipeEnCours == 3 %} selected="selected" {% endif %}>3</option>
							<option value="4" {%if nbrEquipeEnCours == 4 %} selected="selected" {% endif %}>4</option>
							<option value="5" {%if nbrEquipeEnCours == 5 %} selected="selected" {% endif %}>5</option>
							<option value="6" {% if nbrEquipeEnCours is null or nbrEquipeEnCours == 6 %} selected="selected" {% endif %}>6</option>
							<option value="7" {%if nbrEquipeEnCours == 7 %} selected="selected" {% endif %}>7</option>
							<option value="8" {%if nbrEquipeEnCours == 8 %} selected="selected" {% endif %}>8</option>
							<option value="9" {%if nbrEquipeEnCours == 9 %} selected="selected" {% endif %}>9</option>
							<option value="10" {%if nbrEquipeEnCours == 10 %} selected="selected" {% endif %}>10</option>
							<option value="11" {%if nbrEquipeEnCours == 11 %} selected="selected" {% endif %}>11</option>
							<option value="12" {%if nbrEquipeEnCours == 12 %} selected="selected" {% endif %}>12</option>


						</select>
					</form>
				</div>
			</div>

			<div class="row">
				{% if (PoulesAuto|length) < 1 and idTournoi != 0 %}
					<div class="alert alert-danger" role="alert">
						Aucune équipe n'a été trouvée dans ce tournoi.
						<br/>Cliquez ici pour en ajouter:
						<a href="ajoutEquipe.php?idTournoi={{ idTournoi }}">Gestion des équipes</a>
					</div>
				{% endif %}
				{% for categorie, poules in PoulesAuto %}
					<form action="GestionPoules_traitement.php" method="POST">
						<input type="hidden" name="categorie" value="{{ categorie }}"/>
						<input type="hidden" name="TournoiId" value="{{ idTournoi }}"/>
						<input type="hidden" name="nbrEquipePoule" value="{{ nombreEquipeParPoule }}"/>
						<div class="col">

							<h2>Catégorie :
								{{ categorie }}</h2>

							{% for poule_id, equipes in poules %}
								<h3>Poule
									{{ poule_id }}</h3>
								<!-- {{nomDuTournoi}}-{{ categorie }}-{{ poule_id}} -->
								{% for equipe in equipes %}
									<input type="text" value="{{ equipe.nom }}" id="{{ equipe.nom }}" name="{{ equipe.nom }}" readonly/>
									<input type="hidden" value="{{ equipe.id }}" id="{{ equipe.id }}" name="equipeId[{{ categorie }}-{{ poule_id }}][]"/>
									<input type="hidden" value="{{ poule_id }}" name="NumPoule[{{ categorie }}-{{ poule_id }}]"/>
								{% endfor %}

								{% set chaineAComparer = nomDuTournoi ~ '-' ~ categorie ~ '-' ~ poule_id %}

								{% for pouleverif in poulesverif %}
									{% if chaineAComparer == pouleverif['nom'] %}
										<span class="badge bg-success">La poule est créée</span><br>

									{% endif %}
								{% endfor %}
							{% endfor %}

							<br><button type="submit" class="btn btn-primary">Créer cette-ces poule(s) dans cette categorie</button><br>

						</form>
					{% endfor %}
				</div>

			</div>
		</div>

		<div>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script>
				$(document).ready(function () {
$('#NbrEquipeParPoule').change(function () {
$('#myForm').submit()
})
})
			</script>
		</div>
	</body>
</html>
