<!doctype html>
<html lang="fr">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.9"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<link href="style/index.css" rel="stylesheet" crossorigin="anonymous"/>

		<script src="js/RemoveEquipe.js"></script>

		<script src="https://unpkg.com/htmx.org@latest/dist/htmx.min.js"></script>
		<title>Gestion rencontre</title>
	</head>

	<body>
		{% set countVisibleTournois = 0 %}
		{% for tournoi in ListeDesTournois %}
			{% if tournoi.isVisible == 1 and tournoi.isArchived == 0 %}
				{% set countVisibleTournois = countVisibleTournois + 1 %}
			{% endif %}
		{% endfor %}

		{% if countVisibleTournois == 0 %}

			<div class="container-fluid">
				<div class="jumbotron text-white shadow">

					<img src="https://hbcat.fr/wp-content/uploads/2022/08/Logo-hbcat-512x512-1-e1664005082207.png" class="rounded mx-auto d-block img-fluid">
				</div>
				<h2 class="mb-4 ml-2">
					Aucun tournoi pour le moment
				</h2>
				<p class="mb-4">
					Séduit par notre logiciel de gestion des tournois?
					<br>Contactez le club de HandBall d'Auffay, il est gratuit!
				</p>

			</div>
		{% else %}


			<div class="container-lg">
				<div class="row">
					<div
						class="col-lg-3">
						<!--<h6>
												{# 
													{% if  countVisibleTournois  > 1 %}
														Tournois
													{% else %}
														Tournoi
													{% endif %} #}
												</h6> -->
						{% set heureIsVisible = 0 %}
						{% set visibility = 0 %}
						{% set IsRankingView = 0 %}
						{% set gestionArbitres = 0 %}

						{% for tournoi in ListeDesTournois %}
						
							{% if tournoi.id == idTournoi %}
								{% if tournoi.isVisible == 1 %}
									{% set visibility = 1 %}
								{% endif %}

								{% if tournoi.IsRankingView == 1 %}

									{% set IsRankingView = 1 %}
								{% endif %}

							{% if tournoi.gestionArbitres == 1 %}

							{% set gestionArbitres = 1  %}
							
							{% endif %}

							{% endif %}


							{% if tournoi.heureIsVisible  == 1 and tournoi.id == idTournoi %}
								{% set heureIsVisible = 1 %}
							{% endif %}

							

							{% if tournoi.isVisible == 1 and tournoi.isArchived == 0  %}
								{% if tournoi.id == idTournoi %}

									<a href="index.php?id_tournoi={{ tournoi.id }}" class="btn btn-success btn-lg">{{ tournoi.nom|upper }}</a>
								{% else %}
									<a href="index.php?id_tournoi={{ tournoi.id }}" class="btn btn-secondary">{{ tournoi.nom |upper }}</a>
								{% endif %}
							{% endif %}

						{% endfor %}
					</div>


					<div class="col-lg-3 text-left choisirClub">


						{% if idTournoi %}
							{% if visibility == 1 %}
								<div class="alert alert-success mt-2 ">
									<h4>Choisir un club ...</h4>
								</div>
								
								<ul class="list-group">
								{% for club in listeDesCLubs %}
								
									
										
								<a href="index.php?id_tournoi={{ idTournoi }}&id_club={{ club.id }}" class="list-group-item list-group-item-action"><img class="img-thumbnail" src="{{club.logo}}" alt="Card image cap" style="max-width: 50px; max-height: 50px;"> {{ club.nom |upper }}</a>
								
																		
														

								{% endfor %}
							</ul>
							{% endif %}
						{% endif %}
					</div>

					<div class="col-lg-3 choisirEquipe">
						{% if idTournoi %}
							{% if IdClub %}
								{% if visibility == 1 %}
									<div class="alert alert-success mt-2">
										<h4>Choisir mon équipe</h4>
									</div>
								{% endif %}
							{% endif %}
							<ul class="list-group">
							{% for equipes in listeDesEquipesByClubs %}
									
								
									<a href="index.php?id_tournoi={{ idTournoi }}&id_club={{ IdClub }}&id_equipe={{equipes.id}}" class="list-group-item list-group-item-action">{{ equipes.nom |upper }} - {{equipes.Nom_categorie}}</a>
								
							{% endfor %}
							</ul>
						{% endif %}
					</div>

					
					<div class="col-lg-3" >
					
						{% if visibility == 1 %}
							{% if IdEquipe %}
							<div class="alert alert-success mt-2 ">
								
								
								
									<h4>Dernière étape: Choisir la poule</h4>
								</div>
							{% endif %}


							<ul class="list-group">

								{% for poule in afficherLesPoules %}
						
												
												
														<a href="index.php?id_tournoi={{ idTournoi }}&idPoule={{ poule.id }}&id_club={{ IdClub }}&id_equipe={{IdEquipe}}" class="list-group-item list-group-item-action blinke" >
															{{ poule.nom | upper }}
														</a>
					
									
								{% endfor %}
								</ul>
							{% endif %}

						</table>

					</div>

				</div>
			</div>

			<div class="row mt-3">
			
				<div class="col-lg-6 col-md-6 col-sm-12 col-12" id="score">
				<div class="table-responsive">
					<table class="table table-striped ">
						<thead>
							<tr>
								
								{% if IdPoules is not null %}
										{% if heureIsVisible == 1 %}
											<th scope="col-1">Heure</th>
										{% endif %}
										<th scope="col">Terrain</th>
										<th scope="col" class="col-lg-2 col-md-3 col-sm-4 text-center">Equipe1</th>
										<th scope="col" class="col-lg-1 col-md-2 col-sm-4 text-center">Score</th>
										<th scope="col" class="col-lg-2 col-md-3 col-sm-4">Equipe2</th> 
										
										{% if gestionArbitres == 1 %}
										<th scope="col-lg-2 col-md-3 col-sm-4">arbitre</th>
										{% endif %}
									{% endif %}
							</tr>
						</thead>
						<tbody>
							{# pour aller jusqu'à la poule
									{% if IdClub %}
									 {% set rencontres = listeDesRencontreByClubs %} 
									{% endif %}
									{% if IdEquipe %}
									{% set rencontres = listeDesEquipesByEquipeId %}
							#}

							{% if IdPoules %}
								{% set rencontres = RencontreByPoule %}
							{% endif %}
							
						
							
							{% for equipe in rencontres %}
							
								{% if equipe.score1 != 0 or equipe.score2 !=0 %}
									<tr class="table-success">
									{% else %}
										<tr>
										{% endif %}
										{% if heureIsVisible == 1 %}
											{% if not equipe.creneau_nom is empty %}
												<td class="align-middle text-center">
													<p class="fw-bold ">
														{{ equipe.creneau_nom }}</p>
												</td>
											{% else %}
												<td class="align-middle text-center">
													<span class="badge bg-warning text-dark">
														A planifier</span>
												</td>
											{% endif %}

										{% endif %}
											
										{% if equipe.terrain_nom != 0  %}
											<td class="align-middle text-center position-relative">
												<a href="vuePubliqueTerrain.php?id_tournoi={{idTournoi}}&terrain={{equipe.terrain_id}}"> <img src="img/football.png" class="w-100 img-fluid ">
												<h6 class="position-absolute top-50 start-50 translate-middle">
													<span class="badge rounded-pill bg-danger">{{ equipe.terrain_nom }}</span>
												</h6> </a>
											</td>

										{% else  %}
											<td class="align-middle text-center"></td>
										{% endif %}
										<td class="align-middle text-center">
											<p  style="font-size: 12px;" class="text-end fw-bold ">{{equipe.equipe1_nom|upper }}</p>
											<div class="text-end">
												<img src="{{equipe.club1_logo}}" class="w-50 img-fluid shadow-lg rounded img-thumbnail" alt="{{equipe.equipe1_nom|upper }}">
											</div>
										</td>
										<td class="align-middle text-center">
											<div class="d-flex justify-content-center flex-nowrap">
												{% if equipe.score1 > equipe.score2 %}
													<span class="badge bg-success">{{ equipe.score1 }}</span>-
													<span class="badge bg-danger">{{ equipe.score2 }}</span>
												{% elseif equipe.score1 < equipe.score2 %}
													<span class="badge bg-danger">{{ equipe.score1 }}</span>-
													<span class="badge bg-success">{{ equipe.score2 }}</span>
												{% elseif equipe.score1 is same as(equipe.score2) and (equipe.score1 is not null or equipe.score2 is not null) %}
													<span class="badge bg-secondary">{{ equipe.score1 }}</span>-
													<span class="badge bg-secondary">{{ equipe.score2 }}</span>
												{% elseif equipe.score1 or equipe.score2 == null %}
													<span class="badge bg-warning text-dark">Rencontre à venir</span>
													{{equipe.score1}}
												{% endif %}
											</div>
										</td>


										<td class="align-middle text-center">
											<p style="font-size: 12px;" class=" text-start fw-bold ">{{equipe.equipe2_nom|upper }}</p>
											<div class="text-start">
												<img src="{{equipe.club2_logo}}" class="w-50 img-fluid shadow-lg rounded img-thumbnail" alt="{{equipe.equipe2_nom|upper }}">
											</div>
										</td>

										{% if gestionArbitres == 1 %}
											<td> 
											{{equipe.arbitre_nom}}
											</td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</tbody>
					</table>
				</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12 col-12">

					{% if IsRankingView == 1 and IdPoules != null  %}

						<table class="table" id="classementTableau">
							<thead>
								<tr>
									
									<th scope="col" class="text-center">Equipe</th>
									<th scope="col">Points</th>
									<th scope="col">Buts+</th>
									<th scope="col">Buts-</th>
									<th scope="col">Buts diff</th>
								</tr>
							</thead>
							<tbody>
							
								{% set classement = 0 %}
{% for resultat in resultatRencontres %}
    {% set classement = classement + 1 %}
    <tr>
        
        <td>
            <div class="d-flex align-items-center">
			{{ classement }}
                <img src="{{ resultat.club_logo }}" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 10px;">
                <span>{{ resultat.nom|upper }}</span>
            </div>
        </td>
        <td>{{ resultat.TotalDesPoints }}</td>
        <td>{{ resultat.nombreButsMarque }}</td>
        <td>{{ resultat.nombreButsEncaisse }}</td>
        <td>{{ resultat.DifferenceButs }}</td>
    </tr>
{% endfor %}

							</tbody>
						</table>

					{% endif %}

				</div>
			</div>

		{% endif %}
	</body>

</html>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
	setInterval(function () {
$('#score').load(location.href + ' #score > *');
}, 2000); // 2000 millisecondes = 2 secondes


setInterval(function () {
$('#classementTableau').load(location.href + ' #classementTableau > *');
}, 2000); // 2000 millisecondes = 2 secondes
</script>



<script>
        document.addEventListener("DOMContentLoaded", function() {
            // Fonction pour obtenir les paramètres de l'URL
            function getUrlParams() {
                let params = {};
                let queryString = window.location.search.substring(1);
                let regex = /([^&=]+)=([^&]*)/g;
                let m;
                while (m = regex.exec(queryString)) {
                    params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                }
                return params;
            }

            // Récupération des paramètres de l'URL
            let params = getUrlParams();

            // Si le paramètre id_equipe est présent dans l'URL, cacher le div avec la classe choisirClub
            if (params.hasOwnProperty('id_equipe')) {
                let choisirEquipeDiv = document.querySelector('.choisirEquipe');
                if (choisirEquipeDiv) {
                    choisirEquipeDiv.style.display = 'none';
                }
            }

			 if (params.hasOwnProperty('idPoule')) {
                let choisirEquipeDiv = document.querySelector('.choisirEquipe');
                if (choisirEquipeDiv) {
                    choisirEquipeDiv.style.display = 'none';
                }
            }

			 if (params.hasOwnProperty('id_club')) {
                let choisirClubDiv = document.querySelector('.choisirClub');
                if (choisirClubDiv) {
                    choisirClubDiv.style.display = 'none';
                }
            }


			
        });
    </script>




