<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<link href="style/couleurEquipes.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		
		<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>

		<title>Placez vos rencontres</title>
	</head>

	<body>

		{{ include('header.twig') }}

<div class="row ml-n4">
			<div class="col-lg-3">
			
				{% for tournoi in ListeDesTournois %}
					{% if tournoi.isArchived == 0 %}
						{% if tournoi.id == idTournoi %}
							<a href="PlacementDesRencontres.php?id_tournoi={{ tournoi.id }}" class="btn btn-success btn-sm">{{ tournoi.nom }}</a>
						{% else %}
							<a href="PlacementDesRencontres.php?id_tournoi={{ tournoi.id }}" class="btn btn-secondary">{{ tournoi.nom }}</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>

        <div class="col-lg-12">
    
	  <table class="table">
  <thead>
 
    <tr>
	<th scope="col">Créneau</th>
	
	{% for i in 0..nbrterrain|length %}
      <th scope="col">{{nbrterrain[i]["nom"]}}</th>
	{% endfor %}

    </tr>
  </thead>
 <tbody>

<!-- les valeurs possibles : 
					tableauEvenements[creneau.id][terrain]['rencontre_id']
					tableauEvenements[creneau.id][terrain]['tour']
					tableauEvenements[creneau.id][terrain]['equipe1_nom']
					tableauEvenements[creneau.id][terrain]['equipe1_categorie']
					tableauEvenements[creneau.id][terrain]['equipe2_nom']
					tableauEvenements[creneau.id][terrain]['equipe2_categorie']
					tableauEvenements[creneau.id][terrain]['poule_nom']
					tableauEvenements[creneau.id][terrain]['poule_categorie']
				 -->
       {% for creneau in listCreneaux %}
  <tr>
    <td>Créneau {{ creneau.numero }}</td>
    {% for terrain in 1..nbrterrain|length %}
	
      <td>
        {% if tableauEvenements[creneau.id] is defined and tableauEvenements[creneau.id][terrain] is defined %}
          {% set default_value = tableauEvenements[creneau.id][terrain]['equipe1_nom'] ~ ' vs ' ~ tableauEvenements[creneau.id][terrain]['equipe2_nom'] %}
        {% else %}
          {% set default_value = '' %}
        {% endif %}
        <select class="form-select" aria-label="Default select example" name="events" hx-trigger="change"  hx-get="PlacementDesRencontresTraitement.php?action=addEvent" hx-swap="none">
          {% for idCreneau, terrains in tableauEvenements %}
            {% for idTerrain, rencontre in terrains %}
              {% set option_value = rencontre.equipe1_nom ~ ' vs ' ~ rencontre.equipe2_nom %}

			  {% if rencontre.rencontre_id is null %}
              <option value="{{idTournoi}}-null-{{terrain}}-{{ creneau.numero }}" {% if option_value == default_value %}selected{% endif %}  >
                {{ rencontre.equipe1_nom ~ ' vs ' ~ rencontre.equipe2_nom }}
              </option>
			{% else %}
			  <option value="{{idTournoi}}-{{ rencontre.rencontre_id }}-{{terrain}}-{{ creneau.numero }}" {% if option_value == default_value %}selected{% endif %}  >
                {{ rencontre.equipe1_nom ~ ' vs ' ~ rencontre.equipe2_nom }}
              </option>
			{% endif %}
            {% endfor %}
          {% endfor %}
          
          {% if default_value == '' %}
			 <option value="{{idTournoi}}-pause-{{ creneau.numero }}-{{terrain}}" >Pause</option>

          {% endif %}
        </select>
      </td>
    {% endfor %}
  </tr>
{% endfor %}


		<tfoot>
    	<td><a href="PlacementDesRencontresTraitement.php?action=addCreneau&idTournoi={{idTournoi}}">Ajout</a></td>
  		</tfoot>
      </tbody>
</table>

        </div>
