<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css"/>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


   
    <title>Suppression des rencontres</title>
  </head>
  <body>
 {{ include('header.twig') }}

<div class="row">
    <div class="col">
   
            
              <h1>Choisir le tournoi</h1>
            
              
                 {% for tournoi in ListeDesTournois %}
                 {% if tournoi.isArchived == 0 %}
            <a href="suppressionRencontres.php?id_tournoi={{ tournoi.id }}" class="btn {% if tournoi.id == tournoiEnCours %}btn-danger{% else %}btn-primary{% endif %}" role="button">{{ tournoi.nom }}</a>
              {% endif %}
              {% endfor %}

             
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-6">
           
                 <h3 class="text-center">Selection des poules</h3>


             {% set poulesPhaseFinales = [] %}
{% set poulesPhasePoule = [] %}

{% for poule in afficherLesPoules %}
    {% if poule.is_classement == 1 %}
        {% set poulesPhaseFinales = poulesPhaseFinales|merge([poule]) %}
    {% else %}
        {% set poulesPhasePoule = poulesPhasePoule|merge([poule]) %}
    {% endif %}
{% endfor %}

{% if poulesPhaseFinales %}
    <h4>Les poules de phase finales</h4>
    {% for poule in poulesPhaseFinales %}
        {% set btnClass = "btn btn-primary" %}
        {% if pouleEnCours == poule.id %}
            {% set btnClass = "btn btn-danger" %}
        {% endif %}
        <a href="suppressionRencontres.php?id_tournoi={{ tournoiEnCours }}&idPoule={{ poule.id }}" class="{{ btnClass }}" role="button">{{ poule.nom }}</a>
    {% endfor %}
{% endif %}

{% if poulesPhasePoule %}
    <h4>Les poules de phase de poules</h4>
    {% for poule in poulesPhasePoule %}
        {% set btnClass = "btn btn-primary" %}
        {% if pouleEnCours == poule.id %}
            {% set btnClass = "btn btn-danger" %}
        {% endif %}
        <a href="suppressionRencontres.php?id_tournoi={{ tournoiEnCours }}&idPoule={{ poule.id }}" class="{{ btnClass }}" role="button">{{ poule.nom }}</a>
    {% endfor %}
{% endif %}


             
            </div>
            <div class="col-6">
            
            {% if pouleEnCours is not empty %}
               <a href="suppressionRencontres_traitement.php?id_tournoi={{ tournoiEnCours }}&idPoule={{ pouleEnCours }}" class="btn btn-danger" role="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer toutes les rencontres de cette poule ?')" >Suppression des rencontres.Il faudra recreer les rencontres pour cette poules et les replacer</a>
            {% endif %}
            </div>

        </div>
    </div>

</div>