<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.7"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<title>Gestion de la table</title>
		<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
			
			
	</head>

	<body>
		<div class="container container-fluid">
		
			
			<div class="row">
			
			Bonjour {{prenom}}, <br> vous êtes en charge d'inserer les scores pour le terrain  {{terrain}}
			</div> 

			<div class="row">
				<div class="col-12" id="score">
					<table class="table table-striped table-responsive" >
						<thead>
							<tr>
							
							<th scope="col" class="text-center">Heure</th>
							<th scope="col" class="w-25 text-center">Score equipe1</th>
							<th scope="col" class="w-25 text-center">Score equipe2</th>
							<th scope="col">Arbitre</th>
							<th scope="col"></th>
							</tr>
						</thead>
						
					<tbody>	
					{% for planification in AffichagePlanification %}
					<tr>					

					{% if planification.rencontre_id is not null %}

					<td class="text-center"><h3 class="">{{planification.creneau_nom}}</h3>
					</td>
				<td class="text-center">
    <img src="{{planification.club1_logo}}" class="img-fluid rounded">
    <p class="lead text-uppercase"> {{planification.equipe1_nom}} </p>
    <input type="hidden" name="idRencontre" value="{{planification.rencontre_id}}" id="idRencontre{{planification.rencontre_id}}">
    <input type="hidden" name="idEquipe1" value="{{planification.equipe1_id}}" id="idEquipe1{{planification.rencontre_id}}">
    <input type="number" name="scoreEquipe1" class="form-control" value="{{planification.score1}}" id="scoreEquipe1{{planification.rencontre_id}}" min="0" data-rencontre-id="{{planification.rencontre_id}}">
				</td>
			<td class="text-center">
    <img src="{{planification.club2_logo}}" class="img-fluid rounded">
    <p class="lead text-uppercase">{{planification.equipe2_nom}}</p>
    <input type="hidden" name="idRencontre" value="{{planification.rencontre_id}}" id="idRencontre{{planification.rencontre_id}}">
    <input type="hidden" name="idEquipe2" value="{{planification.equipe2_id}}" id="idEquipe2{{planification.rencontre_id}}">
    <input type="number" name="scoreEquipe2" class="form-control" value="{{planification.score2}}" id="scoreEquipe2{{planification.rencontre_id}}" min="0" data-rencontre-id="{{planification.rencontre_id}}">
			</td>

			<td>{{planification.arbitre_nom}}</td>
<td class="text-center align-middle">
    <button type="button" class="btn btn-primary"
            hx-get="vuePersonneTable.php"
            hx-trigger="click"
            hx-swap="none"
            hx-include="[id='idRencontre{{planification.rencontre_id}}'], [id='idEquipe1{{planification.rencontre_id}}'], [id='scoreEquipe1{{planification.rencontre_id}}'], [id='idEquipe2{{planification.rencontre_id}}'], [id='scoreEquipe2{{planification.rencontre_id}}']"
            data-rencontre-id="{{planification.rencontre_id}}"
            onclick="submitScores('{{planification.rencontre_id}}')">
        Soumettre
    </button>
</td>

					
					
					
					{% elseif planification.label_description is not null %}
					
					
					
					<td class="w-25 text-center"><h3>{{planification.creneau_nom}}</h3></td>
					<td class="w-25 text-center">{{planification.label_description}} </td>
					<td><p>{{planification.label_description}}<p> </td>
					<td></td>

					{% endif %}
					</tr>
					{% endfor %}
					</tbody>
					
				</table>




			

			</div>
		</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get all score fields on the page
    document.querySelectorAll('input[data-rencontre-id]').forEach(function(input) {
        const rencontreId = input.getAttribute('data-rencontre-id');
        if (localStorage.getItem(`submitted_${rencontreId}`)) {
            // Disable both score fields for this rencontre
            document.getElementById(`scoreEquipe1${rencontreId}`).readOnly = true;
            document.getElementById(`scoreEquipe2${rencontreId}`).readOnly = true;
            document.getElementById(`scoreEquipe1${rencontreId}`).classList.add('readonly');
            document.getElementById(`scoreEquipe2${rencontreId}`).classList.add('readonly');
        }
    });
});

function submitScores(rencontreId) {
    const scoreEquipe1 = document.getElementById(`scoreEquipe1${rencontreId}`).value;
    const scoreEquipe2 = document.getElementById(`scoreEquipe2${rencontreId}`).value;

    // Check if both scores are filled
    if (scoreEquipe1 === "" || scoreEquipe2 === "") {
        alert("Veuillez remplir les deux scores avant de soumettre.");
        return;
    }

    // Assume data is submitted successfully
    localStorage.setItem(`submitted_${rencontreId}`, true);

    // Disable the fields after submission
    document.getElementById(`scoreEquipe1${rencontreId}`).readOnly = true;
    document.getElementById(`scoreEquipe2${rencontreId}`).readOnly = true;
    document.getElementById(`scoreEquipe1${rencontreId}`).classList.add('readonly');
    document.getElementById(`scoreEquipe2${rencontreId}`).classList.add('readonly');
}


</script>


	</body>




</html>
