<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.7"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<title>Gestion de la table</title>
		<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>

	</head>

	<body>
		<div class="container-fluid">
		
			{% if keyExist or keyValidation  %}
				<form class="row" method="POST" action="vuePersonneTable.php">
					
					<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Code pin</label>
						<input type="number" class="form-control" name="codePin" id="codePin" placeholder="Code pin reçu par mail">
						<input type="hidden" name="key" value="{{key}}">
						<input type="hidden" name="tournoiId" value="{{tournoiId}}">
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">OK</button>
					</div>
				</form>


				{% else %}
			<div class="row">
			
			Bonjour {{infoUser['0'].Prenom}}, <br> vous êtes en charge d'inserer les scores pour le terrain  {{infoUser['0'].terrainNom}}
			</div> 

			<div class=row>

			<table class="table table-striped table-responsive">
				<thead>
					<tr>
					<th scope="col" class="text-center">Heure</th>
					<th scope="col" class="w-25 text-center">Score equipe1</th>
					<th scope="col" class="w-25 text-center">Score equipe2</th>
					<th scope="col">Arbitre</th>
					</tr>
				</thead>
				
			{% for planification in AffichagePlanification %}
			<tr>
			

			{% if planification.rencontre_id is not null %}
			<td class="w-25 text-center"><h3>{{planification.creneau_nom}}</h3></td>
			<td class="w-25 text-center"><img src="{{planification.club1_logo}}" class="img-fluid rounded" >{{planification.equipe1_nom}} <input type="number" name="scoreEquipe1" class="form-control"></td>
			<td class="w-25 text-center"><img src="{{planification.club2_logo}}" class="img-fluid rounded" >{{planification.equipe2_nom}}<input type="number" size="2" name="score2quipe2" class="form-control"></td>
			<td>{{planification.arbitre_nom}}</td>
			
			
			{% elseif planification.label_description is not null %}
			<td class="w-25 text-center"><h3>{{planification.creneau_nom}}</h3></td>
			<td class="w-25 text-center">{{planification.label_description}} </td>
			<td>{{planification.label_description}} </td>
			<td></td>

			{% endif %}
			</tr>
			{% endfor %}

			
		</table>




			{% endif %} {#  {% if keyExist or keyValidation  %}  #}


		</div>
	</body>

</html>
